body {
  background: black; }

body {
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 15px;
  padding-top: 25px; }

.line1 {
  width: 63px;
  height: 15px;
  background: white;
  margin-bottom: 11px; }

.line2 {
  width: 63px;
  height: 15px;
  background: white;
  margin-bottom: 10px; }

.line3 {
  width: 63px;
  height: 15px;
  background: white; }

.logo {
  width: 154px;
  height: 66px;
  margin-left: 28;
  background: white;
  color: black;
  text-align: center;
  text-decoration: none;
  padding-top: 7px;
  margin: auto;
  font-size: 35px; }

.ava {
  border: 11px solid white; }

.home {
  height: 50px;
  border: none;
  background-color: #fff;
  margin-bottom: 0px;
  width: 80px; }

.fragment-l {
  border-radius: 8px;
  border: 4px solid #FFF;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  width: 150px;
  height: 48px;
  text-align: center;
  text-decoration: none;
  color: #C940FC;
  margin-left: 20px;
  float: left;
  padding-top: 8px;
  transition: all .6s ease; }

.fragment-r {
  border-radius: 8px;
  border: 4px solid #FFF;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  width: 150px;
  height: 48px;
  text-align: center;
  text-decoration: none;
  color: #C940FC;
  float: right;
  margin-right: 15px;
  padding-top: 8px;
  transition: all .6s ease; }

.fragment-r:hover {
  background: #C940FC;
  color: #ffffff;
  border-color: #C940FC;
  box-shadow: -4px 4px 0px 0px #ffffff; }

.fragment-l:hover {
  background: #C940FC;
  color: #ffffff;
  border-color: #C940FC;
  box-shadow: -4px 4px 0px 0px #ffffff; }

.search {
  margin-top: 25px;
  border: 4px solid #ffffff;
  border-radius: 8px;
  width: calc(100%-30px);
  display: flex;
  height: 45px;
  caret-color: #C940FC;
  padding-left: 10px;
  display: flex;
  position: relative;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  margin-left: 10px;
  margin-right: 4px; }

.search-button {
  background: transparent;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 40px;
  height: 40px;
  align-items: center;
  padding-top: 5px;
  margin-left: auto; }

.search-button:hover {
  background: black; }

.search-input {
  width: 100%;
  display: block;
  background: none;
  border: none;
  width: 240px; }

input:focus {
  outline: none; }

.product {
  display: flex;
  width: 150px;
  height: 150px;
  border-radius: 8px;
  border: 4px solid #FFF;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  margin-top: 25px;
  margin-left: 10px;
  padding: 18px;
  margin-bottom: 0px; }

.r {
  margin-left: auto;
  margin-right: 6px; }

.photo1 {
  width: 66px;
  height: 66px;
  border-radius: 8px;
  background: #000;
  margin-right: 5px; }

.photo2 {
  width: 30px;
  height: 30px;
  border-radius: 8px;
  background: #000;
  margin-bottom: 5px; }

.count_page {
  width: 150px;
  height: 30px;
  border-radius: 8px;
  border: 4px solid #FFF;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  margin-left: 10px;
  margin-right: 30px;
  color: #C940FC;
  transition: all .6s ease; }

.next_page {
  width: 62px;
  height: 30px;
  border-radius: 8px;
  border: 4px solid #FFF;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  margin-right: 25px;
  color: #C940FC;
  transition: all .6s ease;
  margin-left: auto; }

.previous_page {
  width: 62px;
  height: 30px;
  border-radius: 8px;
  border: 4px solid #FFF;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  color: #C940FC;
  transition: all .6s ease;
  margin-right: 7px; }

.count_page:hover {
  background: #C940FC;
  color: #ffffff;
  border-color: #C940FC;
  box-shadow: -4px 4px 0px 0px #ffffff; }

.next_page:hover {
  background: #C940FC;
  color: #ffffff;
  border-color: #C940FC;
  box-shadow: -4px 4px 0px 0px #ffffff; }

.previous_page:hover {
  background: #C940FC;
  color: #ffffff;
  border-color: #C940FC;
  box-shadow: -4px 4px 0px 0px #ffffff; }

.footer {
  margin: auto;
  width: calc(100% - 38px);
  height: 50px;
  background: #FFF;
  margin-top: 25px;
  margin-bottom: 20px;
  padding: 15px;
  padding-left: 20px; }

body {
  margin: 0;
  background: black;
  color: white;
  display: grid; }

header {
  max-height: 50px;
  display: flex; }

header .activator {
  border-radius: 8px 0 0 8px;
  max-width: 50px;
  cursor: pointer; }

.imger {
  width: 100%;
  max-width: 45px; }

.imger2 {
  width: 100%;
  max-width: 60px;
  background-color: #fff;
  box-shadow: -4px 4px 0px 0px #C940FC;
  border-radius: 8px;
  border: 4px solid #FFF;
  border-color: #fff !important; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

nav {
  left: 75px;
  width: calc(100% - 107px);
  height: 50px;
  background: white;
  position: absolute;
  border-radius: 0 8px 8px 0;
  padding: 0.3em;
  clip-path: ellipse(50% 50% at -50% 50%); }

nav ul {
  display: flex; }

nav ul li a {
  display: block;
  padding: 0.5em;
  margin: 0 0.5em;
  border-radius: 8px; }

nav ul li a:hover {
  background: #000000; }

nav ul li a img {
  opacity: 0;
  transform: translateX(-10px); }

.hidden {
  display: none;
  visibility: collapse; }

.s {
  position: relative;
  margin: 0;
  margin-left: 0;
  height: 50px;
  border-radius: 0 8px 8px 0;
  width: calc(100% - 50px); }

.select {
  width: calc(50% - 63px);
  margin-left: 20px;
  margin-bottom: 20px;
  border: 4px solid #ffffff;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  border-radius: 8px;
  font-size: 12px;
  color: #C940FC;
  text-align: center;
  padding-left: 15px; }

section.range-slider {
  position: relative;
  width: 100%;
  float: left;
  text-align: center;
  margin: auto; }
  section.range-slider input[type="range"] {
    pointer-events: none;
    position: absolute;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: black;
    border: none;
    border-radius: 7px;
    background: #C940FC;
    box-shadow: inset 0 1px 0 0 #ad04ec, inset 0 -1px 0 0 #bb0efb;
    -webkit-box-shadow: inset 0 1px 0 0 #ad04ec, inset 0 -1px 0 0 #bb0efb;
    overflow: hidden;
    left: 0;
    width: 100%;
    outline: none;
    margin-top: 25px; }
  section.range-slider input[type="range"]::-webkit-slider-thumb {
    pointer-events: all;
    position: relative;
    z-index: 1;
    outline: 0;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 8px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, black), color-stop(100%, #000000));
    /* android <= 2.2 */
    background-image: -webkit-linear-gradient(top, black 0, #000000 100%);
    /* older mobile safari and android > 2.2 */
    background-image: linear-gradient(to bottom, black 0, #000000 100%);
    /* W3C */ }
  section.range-slider input[type="range"]::-moz-range-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 8px;
    background: black; }
  section.range-slider input[type="range"]::-ms-thumb {
    pointer-events: all;
    position: relative;
    z-index: 10;
    -ms-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 8px;
    border: 0;
    background-image: black; }
  section.range-slider input[type=range]::-moz-range-track {
    position: relative;
    z-index: -1;
    background-color: black;
    border: 0; }
  section.range-slider input[type=range]:last-of-type::-moz-range-track {
    -moz-appearance: none;
    background: none transparent;
    border: 0; }
  section.range-slider input[type=range]::-moz-focus-outer {
    border: 0; }

.price-slider {
  margin: auto;
  align-items: center; }

.rangeValues {
  width: calc(25% - 12px);
  margin-right: 25px;
  border: 4px solid #000000;
  background: #000000;
  box-shadow: -4px 4px 0px 0px #C940FC;
  border-radius: 8px;
  color: #C940FC; }

.button {
  border: 4px solid #C940FC;
  background: #C940FC;
  box-shadow: -4px 4px 0px 0px #FFF;
  border-radius: 8px;
  color: #FFF;
  margin-bottom: 25px;
  padding: 5px;
  text-decoration: none; }

.button-dark {
  border: 4px solid #C940FC;
  background: #C940FC;
  box-shadow: -4px 4px 0px 0px #000000;
  border-radius: 8px;
  color: #000000;
  margin-bottom: 25px;
  padding: 5px;
  text-decoration: none; }

.button:hover {
  border: 4px solid #ffffff;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  border-radius: 8px;
  color: #C940FC; }

.text {
  border: 4px solid #ffffff;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  border-radius: 8px;
  color: #C940FC;
  margin-bottom: 25px;
  padding: 5px; }

.text-dark {
  border: 4px solid #000000;
  background: #000000;
  box-shadow: -4px 4px 0px 0px #C940FC;
  border-radius: 8px;
  color: #C940FC;
  margin-bottom: 25px;
  padding: 5px; }

.hovernone {
  border: 4px solid #C940FC;
  background: #C940FC;
  box-shadow: -4px 4px 0px 0px #020202;
  border-radius: 8px;
  color: #000000;
  padding: 5px;
  text-decoration: none; }

.white-block {
  padding: 25px;
  border: 4px solid #ffffff;
  background: #FFF;
  box-shadow: -4px 4px 0px 0px #C940FC;
  border-radius: 8px; }

/*# sourceMappingURL=main.css.map */