{% extends 'main/main.html' %}

{% block title %}
заголовок
{% endblock %}

{% block contentextends %}
<div id="adjust">
    <div class="d-flex" style="margin-bottom:3px;">
          <a href="{% url 'home' %}" style="margin-right: auto; padding-left: 7px!important; padding-right: 7px!important;" class="button">Сохранить</a>
          <div style="margin-left: auto; margin-right: auto;" class="text">Фильтры</div>
          <a href="{% url 'home' %}" style="margin-left: auto; padding-left: 18px!important; padding-right: 18px!important;" class="button">Отмена</a>
      </div>
  <div style="height: calc(100% + 30px);" class="white-block">
      <div style="height: 42px;" class="d-flex">
          <input style="font-size: 13px; padding-top: 4px; padding-left: 5px;" placeholder="Цена от" id="rangeValues" type="number" value="500" class="rangeValues"></input>
          <input style="font-size: 13px; padding-top: 4px; padding-left: 5px;" placeholder="Цена до" id="rangeValues2" type="number" value="50000" class="rangeValues"></input>
          <input id="pricebutton" style="width: calc(50% - 25px); font-size: 12px;" value="По возрастанию" class="hovernone" type="button">
      </div>
      <section class="range-slider">
        <input class="inputrange" value="500" min="500" max="50000" step="500" type="range">
        <input class="inputrange" value="50000" min="500" max="50000" step="500" type="range">
      </section>
      <div style="margin-bottom: 28px; min-height: 42px;" class="d-flex">
          <div style="text-align: center; padding-top: 8px; font-size: 12px; width: 50%!important; margin-top: 68px!important; margin-bottom: 0; color: #C940FC!important; border-radius: 8px 0 0 8px;" class="text-dark">Тип одежды</div>
          <details style="width: 50%!important; border: none;font-size: 12px; margin-top: 68px!important; width: 25%; margin-top: 70px; margin-bottom: 0; border-radius: 0px 8px 8px 0px!important;" class="custom-select">
              <summary class="radios" id="type-button">
                  <p style="display: inline;" id="display">Всё</p>
                  <input class="input" type="radio" name="item" id="item1" title="Кроссовки">
                  <input class="input" type="radio" name="item" id="item2" title="Вверхняя одежда">
                  <input class="input" type="radio" name="item" id="item3" title="Штаны / шорты">
                  <input class="input" type="radio" name="item" id="item4" title="Аксесуары">
              </summary>
              <ul class="list ul">
                  <li class="li">
                      <label for="item1">
                          Кроссовки
                      </label>
                  </li>
                  <li class="li">
                      <label for="item2">Вверхняя одежда</label>
                  </li>
                  <li class="li">
                      <label for="item3">Штаны / шорты</label>
                  </li>
                  <li class="li">
                      <label for="item4">Аксесуары</label>
                  </li>
              </ul>
          </details>
      </div>
      <div class="d-flex hidden" id="undertype">
          <div style="text-align: center; padding-top: 8px; font-size: 12px; width: 50%!important; margin-top: 0px!important; margin-bottom: 0; color: #C940FC!important; border-radius: 8px 0 0 8px;" class="text-dark">Подтип одежды</div>
          <details style="width: 50%!important; border: none;font-size: 12px; margin-top: 0px!important; width: 25%; margin-top: 25px; margin-bottom: 0; border-radius: 0px 8px 8px 0px!important;" class="custom-select">
              <summary class="radios" id="type-button2">
                  <p style="display: inline;" id="display2">Всё</p>
              </summary>
              <ul id="ul" class="list ul">
              </ul>
          </details>
      </div>
      <div class="d-flex hidden" style="margin-bottom: 5px;" id="martop">
          <div style="padding-top: 8px; font-size: 12px; width: 25%!important; margin-top: 0px; margin-bottom: 0; color: #C940FC!important; border-radius: 8px 0 0 8px;" class="text-dark">Размеры</div>
          <input id="size-button1" style=" width: 18.75%!important; border: none;font-size: 12px; margin-top: 0px!important; padding-right: 7px!important;" value="RU" class="button-flex-dark-conter select-button" type="button">
          <input id="size-button2" style="width: 18.75%!important; border: none;font-size: 12px; margin-top: 0px!important;" value="US" class="button-flex-dark-conter select-button" type="button">
          <input id="size-button3" style="width: 18.75%!important; border: none;font-size: 12px; margin-top: 0px!important;" value="UK" class="button-flex-dark-conter select-button" type="button">
          <input id="size-button4" value="Все" style="width: 18.75%!important; border: none;font-size: 12px; margin-top: 0px!important; width: 25%; margin-top: 70px; margin-bottom: 0; border-radius: 0px 8px 8px 0px!important;" class="button-flex-dark-conter select-button" type="button">
      </div>
      <div style="top: -3px;" class="d-flex hidden" id="martop2">
          <div style="padding-top: 8px; font-size: 12px; width: 25%!important; margin-top: 0px; margin-bottom: 0; color: #C940FC!important; border-radius: 8px 0 0 8px;" class="text-dark">Размеры</div>
          <input id="size-button5" style=" width: 12.5%!important; border: none;font-size: 12px; margin-top: 0px!important; padding-right: 7px!important;" value="XS" class="button-flex-dark-conter select-button" type="button">
          <input id="size-button6" style="width: 12.5%!important; border: none;font-size: 12px; margin-top: 0px!important;" value="S" class="button-flex-dark-conter select-button" type="button">
          <input id="size-button7" style="width: 12.5%!important; border: none;font-size: 12px; margin-top: 0px!important;" value="M" class="button-flex-dark-conter select-button" type="button">
          <input id="size-button8" style="width: 12.5%!important; border: none;font-size: 12px; margin-top: 0px!important;" value="L" class="button-flex-dark-conter select-button" type="button">
          <input id="size-button9" style="width: 12.5%!important; border: none;font-size: 12px; margin-top: 0px!important;" value="XL" class="button-flex-dark-conter select-button" type="button">
          <input id="size-button10" value="Все" style="width: 12.5%!important; border: none;font-size: 12px; margin-top: 0px!important; width: 25%; margin-top: 70px; margin-bottom: 0; border-radius: 0px 8px 8px 0px!important;" class="button-flex-dark-conter select-button" type="button">
      </div>
      <div id="input-size" style="margin-bottom: 28px; top: -7;" class="search hidden">
          <input placeholder="Введите свой размер..." class="search-input" type="number">
          <input style="color: #C940FC!important;" value="DE" id="button-size" type="button" class="search-button"/>
      </div>
      <div styl="width: 50%;" class="d-flex">
        <div class="a-brands">Фильтр по брендам</div>
        <button id="myAnchor" class="b-brands">Всё</button>
      </div>
      <div style="margin-top: 28px;" class="d-flex">
          <div style="padding-top: 8px; font-size: 12px; width: 25%; margin-bottom: 0; color: #C940FC!important; border-radius: 8px 0 0 8px;" class="text-dark">Искать в</div>
          <input id="select-button1" style=" border: none;font-size: 12px; padding-right: 7px!important;" value="магазине" class="button-flex-dark-conter select-button" type="button">
          <input id="select-button2" style=" border: none;font-size: 12px;" value="на рынке" class="button-flex-dark-conter select-button" type="button">
          <input id="select-button3" value="везде" style=" border: none;font-size: 12px; width: 25%; margin-bottom: 0; border-radius: 0px 8px 8px 0px!important;" class="button-flex-dark-conter select-button" type="button">
      </div>
      <div id="ratingDiv" style="margin-top: 28px;" class="legit search form-type-number hidden">
        <div style="width: calc(100% - 30px)!important; padding-top: 8px;" class="search-input trader-input" id="rating">Минимальный рейтинг продовца...</div>
        <div class="d-flex plus-minus">
          <div id="plus" class="plus"><span style=" font-size: 26px;" class="span">+</span></div>
          <div id="minus" class="minus"><span style=" font-size: 26px;" class="span">-</span></div>
        </div>
      </div>
      <div style="margin-top: 28px; margin-bottom: 0!important;" class="d-flex brand hidden" id="legitDiv">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="legit">Наличие легита</label>
        <input type="checkbox" id="legit" name="legit">
      </div>
  </div>
  <script>
    var ratingDiv = document.getElementById('ratingDiv')
    var plus = document.getElementById('plus')
    var minus = document.getElementById('minus')
    var count = 0

    plus.addEventListener('click', function() {
      var rating = document.getElementById('rating')
      if (count > 0 && count < 10){
        count += 1
        rating.innerText = count
      } else if(count === 10){
        rating.innerText = count
      } else {
        rating.innerText = 1
        count = 1
      }
    })

    minus.addEventListener('click', function() {
      var rating = document.getElementById('rating')
      if (count > 1){
        count -= 1
        rating.innerText = count
      } else {
        rating.innerText = "Минимальный рейтинг продовца..."
        count = 0
      }
    })


  function getVals(){
    // Get slider values
    var parent = this.parentNode;
    var slides = parent.getElementsByClassName("inputrange");
      var slide1 = parseFloat( slides[0].value );
      var slide2 = parseFloat( slides[1].value );
    // Neither slider will clip the other, so make sure we determine which is larger
    if( slide1 > slide2 ){ var tmp = slide2; slide2 = slide1; slide1 = tmp; }
      var displayElement = document.getElementById("rangeValues")
      var displayElement2 = document.getElementById("rangeValues2")
      console.log
    if (displayElement.value){
      displayElement.value = slide1
      displayElement2.value = slide2
    }
      
  }

  window.onload = function(){
    // Initialize Sliders
    var sliderSections = document.getElementsByClassName("range-slider");
        for( var x = 0; x < sliderSections.length; x++ ){
          var sliders = sliderSections[x].getElementsByTagName("input");
          for( var y = 0; y < sliders.length; y++ ){
            if( sliders[y].type ==="range" ){
              sliders[y].oninput = getVals;
              // Manually trigger event first time to display values
              sliders[y].oninput();
            }
          }
        }
  }
  var pricebutton = document.getElementById("pricebutton")

  pricebutton.addEventListener("click", function() {
      if (pricebutton.value === 'По возрастанию') {
          pricebutton.value = 'По убыванию'
      } else {
          pricebutton.value = 'По возрастанию'
      }
  });

  var item_input1 = document.getElementById("item1")
  var item_input2 = document.getElementById("item2")
  var item_input3 = document.getElementById("item3")
  var item_input4 = document.getElementById("item4")
  var item_input5 = document.getElementById("item5")
  var li5 = document.getElementById("li5")
  var ul = document.getElementById("ul")
  var typebutton = document.getElementById("type-button")
  var typebutton2 = document.getElementById("type-button2")
  
  var display = document.getElementById("display")
  var display2 = document.getElementById("display2")
  var undertype = document.getElementById("undertype")
  var martop = document.getElementById("martop")
  var martop2 = document.getElementById("martop2")

  item_input1.addEventListener('click', function() {
    martop.classList.toggle('hidden')
    martop.classList.toggle('mar-bot')
    martop.classList.toggle('mar-top')
    if (martop2.classList.contains('mar-top')){
      martop2.classList.add('hidden')
      martop2.classList.remove('mar-bot')
      martop2.classList.remove('mar-top')
    }
    if (document.contains(document.getElementById("item5"))){
      document.getElementById("item5").remove();
      document.getElementById("li5").remove();
    }
    if (document.contains(document.getElementById("item6"))){
      document.getElementById("item6").remove();
      document.getElementById("li6").remove();
    }
    if (document.contains(document.getElementById("item7"))){
      document.getElementById("item7").remove();
      document.getElementById("li7").remove();
    }
    if (document.contains(document.getElementById("item8"))){
      document.getElementById("item8").remove();
      document.getElementById("li8").remove();
    }
    if (document.contains(document.getElementById("item9"))){
      document.getElementById("item9").remove();
      document.getElementById("li9").remove();
    }
    if (document.contains(document.getElementById("item10"))){
      document.getElementById("item10").remove();
      document.getElementById("li10").remove();
    }

    var item_input5 = document.createElement("input")
    item_input5.setAttribute('id', 'item5')
    item_input5.setAttribute('class', 'input')
    item_input5.setAttribute('type', 'radio')
    item_input5.setAttribute('name', 'item_5')
    item_input5.setAttribute('title', 'Кеды')
    var li5 = document.createElement("li")
    li5.setAttribute('id', 'li5')
    li5.setAttribute('class', 'li li5')
    li5.innerText = "Кеды"
    typebutton2.insertBefore(item_input5, typebutton2.childNodes[2])
    ul.insertBefore(li5, ul.childNodes[2])
    if (document.contains(document.getElementById("item5")))  {li5.addEventListener('click', function() {
        if (display2.innerText === item_input5.title){
            typebutton.classList.toggle("corner-dark")
            display2.innerText = "Всё"
        } else {
            display2.innerText = item_input5.title
        }
    })}

      var item_input6 = document.createElement("input")
      item_input6.setAttribute('id', 'item6')
      item_input6.setAttribute('class', 'input')
      item_input6.setAttribute('type', 'radio')
      item_input6.setAttribute('name', 'item_6')
      item_input6.setAttribute('title', 'Тапочки')
      var li6 = document.createElement("li")
      li6.setAttribute('id', 'li6')
      li6.setAttribute('class', 'li li5')
      li6.innerText = "Тапочки"
      typebutton2.insertBefore(item_input6, typebutton2.childNodes[2])
      ul.insertBefore(li6, ul.childNodes[2])
      if (document.contains(document.getElementById("item6"))) {li6.addEventListener('click', function() {
      if (display2.innerText === item_input6.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input6.title
      }
      })}

      var item_input7 = document.createElement("input")
      item_input7.setAttribute('id', 'item7')
      item_input7.setAttribute('class', 'input')
      item_input7.setAttribute('type', 'radio')
      item_input7.setAttribute('name', 'item_7')
      item_input7.setAttribute('title', 'Ботинки')
      var li7 = document.createElement("li")
      li7.setAttribute('id', 'li7')
      li7.setAttribute('class', 'li li5')
      li7.innerText = "Ботинки"
      typebutton2.insertBefore(item_input7, typebutton2.childNodes[2])
      ul.insertBefore(li7, ul.childNodes[2])
      if (document.contains(document.getElementById("item7"))) {li7.addEventListener('click', function() {
      if (display2.innerText === item_input7.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input7.title
      }
      })}

      var item_input8 = document.createElement("input")
      item_input8.setAttribute('id', 'item8')
      item_input8.setAttribute('class', 'input')
      item_input8.setAttribute('type', 'radio')
      item_input8.setAttribute('name', 'item_8')
      item_input8.setAttribute('title', 'Спорт. обувь')
      var li8 = document.createElement("li")
      li8.setAttribute('id', 'li8')
      li8.setAttribute('class', 'li li5')
      li8.innerText = "Спорт. обувь"
      typebutton2.insertBefore(item_input8, typebutton2.childNodes[2])
      ul.insertBefore(li8, ul.childNodes[2])
      if (document.contains(document.getElementById("item8"))) {li8.addEventListener('click', function() {
      if (display2.innerText === item_input8.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input8.title
      }
      })}

      var item_input9 = document.createElement("input")
      item_input9.setAttribute('id', 'item9')
      item_input9.setAttribute('class', 'input')
      item_input9.setAttribute('type', 'radio')
      item_input9.setAttribute('name', 'item_9')
      item_input9.setAttribute('title', 'Высокие кеды')
      var li9 = document.createElement("li")
      li9.setAttribute('id', 'li9')
      li9.setAttribute('class', 'li li5')
      li9.innerText = "Высокие кеды"
      typebutton2.insertBefore(item_input9, typebutton2.childNodes[2])
      ul.insertBefore(li9, ul.childNodes[2])
      if (document.contains(document.getElementById("item9"))) {li9.addEventListener('click', function() {
      if (display2.innerText === item_input9.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input9.title
      }
      })}
      if (display.innerText === item_input1.title){
          typebutton.classList.toggle("corner-dark")
          display.innerText = "Всё"
          undertype.classList.add("hidden")
          martop.classList.remove('mar-top')
      } else {
          display.innerText = item_input1.title
          undertype.classList.remove("hidden")
          martop.classList.add('mar-top')
      }
  })
  item_input2.addEventListener('click', function() {
      if (display.innerText === item_input3.title) {
        martop2.classList.add('mar-top')
        martop2.classList.add('mar-bot')
        martop2.classList.remove('hidden')
      } else {
        martop2.classList.toggle('mar-top')
        martop2.classList.toggle('mar-bot')
        martop2.classList.toggle('hidden')
      }
    if (martop.classList.contains('mar-top')){
      martop.classList.add('hidden')
      martop.classList.remove('mar-bot')
      martop.classList.remove('mar-top')
    }
    if (document.contains(document.getElementById("item5"))){
      document.getElementById("item5").remove();
      document.getElementById("li5").remove();
    }
    if (document.contains(document.getElementById("item6"))){
      document.getElementById("item6").remove();
      document.getElementById("li6").remove();
    }
    if (document.contains(document.getElementById("item7"))){
      document.getElementById("item7").remove();
      document.getElementById("li7").remove();
    }
    if (document.contains(document.getElementById("item8"))){
      document.getElementById("item8").remove();
      document.getElementById("li8").remove();
    }
    if (document.contains(document.getElementById("item9"))){
      document.getElementById("item9").remove();
      document.getElementById("li9").remove();
    }
    if (document.contains(document.getElementById("item10"))){
      document.getElementById("item10").remove();
      document.getElementById("li10").remove();
    }

    var item_input5 = document.createElement("input")
    item_input5.setAttribute('id', 'item5')
    item_input5.setAttribute('class', 'input')
    item_input5.setAttribute('type', 'radio')
    item_input5.setAttribute('name', 'item_5')
    item_input5.setAttribute('title', 'Футболки')
    var li5 = document.createElement("li")
    li5.setAttribute('id', 'li5')
    li5.setAttribute('class', 'li li5')
    li5.innerText = "Футболки"
    typebutton2.insertBefore(item_input5, typebutton2.childNodes[2])
    ul.insertBefore(li5, ul.childNodes[2])

    var item_input10 = document.createElement("input")
    item_input10.setAttribute('id', 'item10')
    item_input10.setAttribute('class', 'input')
    item_input10.setAttribute('type', 'radio')
    item_input10.setAttribute('name', 'item_10')
    item_input10.setAttribute('title', 'Желетки')
    var li10 = document.createElement("li")
    li10.setAttribute('id', 'li10')
    li10.setAttribute('class', 'li li5')
    li10.innerText = "Желетки"
    typebutton2.insertBefore(item_input10, typebutton2.childNodes[2])
    ul.insertBefore(li10, ul.childNodes[2])

    var item_input6 = document.createElement("input")
    item_input6.setAttribute('id', 'item6')
    item_input6.setAttribute('class', 'input')
    item_input6.setAttribute('type', 'radio')
    item_input6.setAttribute('name', 'item_6')
    item_input6.setAttribute('title', 'Легкие куртки')
    var li6 = document.createElement("li")
    li6.setAttribute('id', 'li6')
    li6.setAttribute('class', 'li li5')
    li6.innerText = "Легкие куртки"
    typebutton2.insertBefore(item_input6, typebutton2.childNodes[2])
    ul.insertBefore(li6, ul.childNodes[2])

    var item_input7 = document.createElement("input")
    item_input7.setAttribute('id', 'item7')
    item_input7.setAttribute('class', 'input')
    item_input7.setAttribute('type', 'radio')
    item_input7.setAttribute('name', 'item_7')
    item_input7.setAttribute('title', 'Куртки')
    var li7 = document.createElement("li")
    li7.setAttribute('id', 'li7')
    li7.setAttribute('class', 'li li5')
    li7.innerText = "Куртки"
    typebutton2.insertBefore(item_input7, typebutton2.childNodes[2])
    ul.insertBefore(li7, ul.childNodes[2])

    var item_input8 = document.createElement("input")
    item_input8.setAttribute('id', 'item8')
    item_input8.setAttribute('class', 'input')
    item_input8.setAttribute('type', 'radio')
    item_input8.setAttribute('name', 'item_8')
    item_input8.setAttribute('title', 'Зипки')
    var li8 = document.createElement("li")
    li8.setAttribute('id', 'li8')
    li8.setAttribute('class', 'li li5')
    li8.innerText = "Зипки"
    typebutton2.insertBefore(item_input8, typebutton2.childNodes[2])
    ul.insertBefore(li8, ul.childNodes[2])

    var item_input9 = document.createElement("input")
    item_input9.setAttribute('id', 'item9')
    item_input9.setAttribute('class', 'input')
    item_input9.setAttribute('type', 'radio')
    item_input9.setAttribute('name', 'item_9')
    item_input9.setAttribute('title', 'Кофты')
    var li9 = document.createElement("li")
    li9.setAttribute('id', 'li9')
    li9.setAttribute('class', 'li li5')
    li9.innerText = "Кофты"
    typebutton2.insertBefore(item_input9, typebutton2.childNodes[2])
    ul.insertBefore(li9, ul.childNodes[2])
    if (document.contains(document.getElementById("item6"))) {li6.addEventListener('click', function() {
      if (display2.innerText === item_input6.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input6.title
      }
  })}
  if (document.contains(document.getElementById("item7"))) {li7.addEventListener('click', function() {
      if (display2.innerText === item_input7.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input7.title
      }
  })}
  if (document.contains(document.getElementById("item8"))) {li8.addEventListener('click', function() {
      if (display2.innerText === item_input8.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input8.title
      }
  })}
  if (document.contains(document.getElementById("item9"))) {li9.addEventListener('click', function() {
      if (display2.innerText === item_input9.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input9.title
      }
  })}
  if (document.contains(document.getElementById("item10"))){ li10.addEventListener('click', function() {
        if (display2.innerText === item_input10.title){
            typebutton.classList.toggle("corner-dark")
            display2.innerText = "Всё"
        } else {
            display2.innerText = item_input10.title
        }
    })
  }
  if (document.contains(document.getElementById("item5")))  {li5.addEventListener('click', function() {
        if (display2.innerText === item_input5.title){
            typebutton.classList.toggle("corner-dark")
            display2.innerText = "Всё"
        } else {
            display2.innerText = item_input5.title
        }
    })}
      if (display.innerText === item_input2.title){
          typebutton.classList.toggle("corner-dark")
          display.innerText = "Всё"
          undertype.classList.add("hidden")
          martop.classList.remove('mar-top')
      } else {
          display.innerText = item_input2.title
          undertype.classList.remove("hidden")
          martop.classList.add('mar-top')
      }
  })
  item_input3.addEventListener('click', function() {
    if (display.innerText === item_input2.title) {
        martop2.classList.add('mar-top')
        martop2.classList.add('mar-bot')
        martop2.classList.remove('hidden')
      } else {
        martop2.classList.toggle('mar-top')
        martop2.classList.toggle('mar-bot')
        martop2.classList.toggle('hidden')
      }
    if (martop.classList.contains('mar-top')){
      martop.classList.add('hidden')
      martop.classList.remove('mar-bot')
      martop.classList.remove('mar-top')
    }
    if (document.contains(document.getElementById("item5"))){
      document.getElementById("item5").remove();
      document.getElementById("li5").remove();
    }
    if (document.contains(document.getElementById("item6"))){
      document.getElementById("item6").remove();
      document.getElementById("li6").remove();
    }
    if (document.contains(document.getElementById("item7"))){
      document.getElementById("item7").remove();
      document.getElementById("li7").remove();
    }
    if (document.contains(document.getElementById("item8"))){
      document.getElementById("item8").remove();
      document.getElementById("li8").remove();
    }
    if (document.contains(document.getElementById("item9"))){
      document.getElementById("item9").remove();
      document.getElementById("li9").remove();
    }
    if (document.contains(document.getElementById("item10"))){
      document.getElementById("item10").remove();
      document.getElementById("li10").remove();
    }

    var item_input5 = document.createElement("input")
    item_input5.setAttribute('id', 'item5')
    item_input5.setAttribute('class', 'input')
    item_input5.setAttribute('type', 'radio')
    item_input5.setAttribute('name', 'item_5')
    item_input5.setAttribute('title', 'Джинсы')
    var li5 = document.createElement("li")
    li5.setAttribute('id', 'li5')
    li5.setAttribute('class', 'li li5')
    li5.innerText = "Джинсы"
    typebutton2.insertBefore(item_input5, typebutton2.childNodes[2])
    ul.insertBefore(li5, ul.childNodes[2])

      var item_input7 = document.createElement("input")
      item_input7.setAttribute('id', 'item7')
      item_input7.setAttribute('class', 'input')
      item_input7.setAttribute('type', 'radio')
      item_input7.setAttribute('name', 'item_7')
      item_input7.setAttribute('title', 'Шорты')
      var li7 = document.createElement("li")
      li7.setAttribute('id', 'li7')
      li7.setAttribute('class', 'li li5')
      li7.innerText = "Шорты"
      typebutton2.insertBefore(item_input7, typebutton2.childNodes[2])
      ul.insertBefore(li7, ul.childNodes[2])

      var item_input8 = document.createElement("input")
      item_input8.setAttribute('id', 'item8')
      item_input8.setAttribute('class', 'input')
      item_input8.setAttribute('type', 'radio')
      item_input8.setAttribute('name', 'item_8')
      item_input8.setAttribute('title', 'Брюки')
      var li8 = document.createElement("li")
      li8.setAttribute('id', 'li8')
      li8.setAttribute('class', 'li li5')
      li8.innerText = "Брюки"
      typebutton2.insertBefore(item_input8, typebutton2.childNodes[2])
      ul.insertBefore(li8, ul.childNodes[2])

      var item_input9 = document.createElement("input")
      item_input9.setAttribute('id', 'item9')
      item_input9.setAttribute('class', 'input')
      item_input9.setAttribute('type', 'radio')
      item_input9.setAttribute('name', 'item_9')
      item_input9.setAttribute('title', 'Спорт. штаны')
      var li9 = document.createElement("li")
      li9.setAttribute('id', 'li9')
      li9.setAttribute('class', 'li li5')
      li9.innerText = "Спорт. штаны"
      typebutton2.insertBefore(item_input9, typebutton2.childNodes[2])
      ul.insertBefore(li9, ul.childNodes[2])
      if (document.contains(document.getElementById("item7"))) {li7.addEventListener('click', function() {
      if (display2.innerText === item_input7.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input7.title
      }
  })}
  if (document.contains(document.getElementById("item8"))) {li8.addEventListener('click', function() {
      if (display2.innerText === item_input8.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input8.title
      }
  })}
  if (document.contains(document.getElementById("item9"))) {li9.addEventListener('click', function() {
      if (display2.innerText === item_input9.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input9.title
      }
  })}
  if (document.contains(document.getElementById("item5")))  {li5.addEventListener('click', function() {
        if (display2.innerText === item_input5.title){
            typebutton.classList.toggle("corner-dark")
            display2.innerText = "Всё"
        } else {
            display2.innerText = item_input5.title
        }
    })}
      if (display.innerText === item_input3.title){
          typebutton.classList.toggle("corner-dark")
          display.innerText = "Всё"
          undertype.classList.add("hidden")
          martop.classList.remove('mar-top')
      } else {
          display.innerText = item_input3.title
          undertype.classList.remove("hidden")
          martop.classList.add('mar-top')
      }
  })
  item_input4.addEventListener('click', function() {
    undertype.classList.toggle('mar-bot')
    if (martop.classList.contains('mar-top')){
      martop.classList.remove('mar-top')
      martop.classList.remove('mar-bot')
      martop.classList.add('hidden')
    }
    if (martop2.classList.contains('mar-top')){
      martop2.classList.remove('mar-top')
      martop2.classList.remove('mar-bot')
      martop2.classList.add('hidden')
    }

    if (document.contains(document.getElementById("item5"))){
      document.getElementById("item5").remove();
      document.getElementById("li5").remove();
    }
    if (document.contains(document.getElementById("item6"))){
      document.getElementById("item6").remove();
      document.getElementById("li6").remove();
    }
    if (document.contains(document.getElementById("item7"))){
      document.getElementById("item7").remove();
      document.getElementById("li7").remove();
    }
    if (document.contains(document.getElementById("item8"))){
      document.getElementById("item8").remove();
      document.getElementById("li8").remove();
    }
    if (document.contains(document.getElementById("item9"))){
      document.getElementById("item9").remove();
      document.getElementById("li9").remove();
    }
    if (document.contains(document.getElementById("item10"))){
      document.getElementById("item10").remove();
      document.getElementById("li10").remove();
    }

    var item_input5 = document.createElement("input")
    item_input5.setAttribute('id', 'item5')
    item_input5.setAttribute('class', 'input')
    item_input5.setAttribute('type', 'radio')
    item_input5.setAttribute('name', 'item_5')
    item_input5.setAttribute('title', 'Головные уборы')
    var li5 = document.createElement("li")
    li5.setAttribute('id', 'li5')
    li5.setAttribute('class', 'li li5')
    li5.innerText = "Головные уборы"
    typebutton2.insertBefore(item_input5, typebutton2.childNodes[2])
    ul.insertBefore(li5, ul.childNodes[2])

      var item_input7 = document.createElement("input")
      item_input7.setAttribute('id', 'item7')
      item_input7.setAttribute('class', 'input')
      item_input7.setAttribute('type', 'radio')
      item_input7.setAttribute('name', 'item_7')
      item_input7.setAttribute('title', 'Другое')
      var li7 = document.createElement("li")
      li7.setAttribute('id', 'li7')
      li7.setAttribute('class', 'li li5')
      li7.innerText = "Другое"
      typebutton2.insertBefore(item_input7, typebutton2.childNodes[2])
      ul.insertBefore(li7, ul.childNodes[2])

      var item_input8 = document.createElement("input")
      item_input8.setAttribute('id', 'item8')
      item_input8.setAttribute('class', 'input')
      item_input8.setAttribute('type', 'radio')
      item_input8.setAttribute('name', 'item_8')
      item_input8.setAttribute('title', 'Трусы')
      var li8 = document.createElement("li")
      li8.setAttribute('id', 'li8')
      li8.setAttribute('class', 'li li5')
      li8.innerText = "Трусы"
      typebutton2.insertBefore(item_input8, typebutton2.childNodes[2])
      ul.insertBefore(li8, ul.childNodes[2])

      var item_input9 = document.createElement("input")
      item_input9.setAttribute('id', 'item9')
      item_input9.setAttribute('class', 'input')
      item_input9.setAttribute('type', 'radio')
      item_input9.setAttribute('name', 'item_9')
      item_input9.setAttribute('title', 'Носки')
      var li9 = document.createElement("li")
      li9.setAttribute('id', 'li9')
      li9.setAttribute('class', 'li li5')
      li9.innerText = "Носки"
      typebutton2.insertBefore(item_input9, typebutton2.childNodes[2])
      ul.insertBefore(li9, ul.childNodes[2])
      if (document.contains(document.getElementById("item7"))) {li7.addEventListener('click', function() {
      if (display2.innerText === item_input7.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input7.title
      }
  })}
  if (document.contains(document.getElementById("item8"))) {li8.addEventListener('click', function() {
      if (display2.innerText === item_input8.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input8.title
      }
  })}
  if (document.contains(document.getElementById("item9"))) {li9.addEventListener('click', function() {
      if (display2.innerText === item_input9.title){
          typebutton.classList.toggle("corner-dark")
          display2.innerText = "Всё"
      } else {
          display2.innerText = item_input9.title
      }
  })}
  if (document.contains(document.getElementById("item5")))  {li5.addEventListener('click', function() {
        if (display2.innerText === item_input5.title){
            typebutton.classList.toggle("corner-dark")
            display2.innerText = "Всё"
        } else {
            display2.innerText = item_input5.title
        }
    })}
      if (display.innerText === item_input4.title){
          typebutton.classList.toggle("corner-dark")
          display.innerText = "Всё"
          undertype.classList.add("hidden")
          martop.classList.remove('mar-top')
      } else {
          display.innerText = item_input4.title
          undertype.classList.remove("hidden")
          martop.classList.add('mar-top')
      }
  })

  var legit = document.getElementById("legit")
  var legitDiv = document.getElementById("legitDiv")
  var ratingDiv = document.getElementById("ratingDiv")

  var selectbutton1 = document.getElementById("select-button1")
  var selectbutton2 = document.getElementById("select-button2")
  var selectbutton3 = document.getElementById("select-button3")

  var selectbutton5 = document.getElementById("select-button5")
  var selectbutton6 = document.getElementById("select-button6")
  var selectbutton7 = document.getElementById("select-button7")
  var selectbutton8 = document.getElementById("select-button8")
  var selectbutton9 = document.getElementById("select-button9")

  selectbutton1.addEventListener("click", function() {
    if(!legitDiv.classList.contains("hidden")){
      legitDiv.classList.add('hidden')
      ratingDiv.classList.add('hidden')
    }
      selectbutton1.classList.toggle('button-flex-dark-conter')
      selectbutton1.classList.toggle('text-flex-dark-conter')
      if (selectbutton2.classList.contains('text-flex-dark-conter')){
          selectbutton2.classList.toggle('text-flex-dark-conter')
          selectbutton2.classList.toggle('button-flex-dark-conter')
      }
      if (selectbutton3.classList.contains('text-flex-dark-conter')){
          selectbutton3.classList.toggle('text-flex-dark-conter')
          selectbutton3.classList.toggle('button-flex-dark-conter')
      }
  });
  selectbutton2.addEventListener("click", function() {
    if (selectbutton3.classList.contains("text-flex-dark-conter")){
      selectbutton2.classList.remove('button-flex-dark-conter')
      selectbutton2.classList.add('text-flex-dark-conter')
    } else {
      legitDiv.classList.toggle("hidden")
      ratingDiv.classList.toggle("hidden")
      selectbutton2.classList.toggle('button-flex-dark-conter')
      selectbutton2.classList.toggle('text-flex-dark-conter')
    }
      if (selectbutton1.classList.contains('text-flex-dark-conter')){
          selectbutton1.classList.toggle('text-flex-dark-conter')
          selectbutton1.classList.toggle('button-flex-dark-conter')
      }
      if (selectbutton3.classList.contains('text-flex-dark-conter')){
          selectbutton3.classList.toggle('text-flex-dark-conter')
          selectbutton3.classList.toggle('button-flex-dark-conter')
      }
  });
  selectbutton3.addEventListener("click", function() {
    if (selectbutton2.classList.contains("text-flex-dark-conter")){
      selectbutton3.classList.remove('button-flex-dark-conter')
      selectbutton3.classList.add('text-flex-dark-conter')
    } else {
      legitDiv.classList.toggle("hidden")
      ratingDiv.classList.toggle("hidden")
      selectbutton3.classList.toggle('button-flex-dark-conter')
      selectbutton3.classList.toggle('text-flex-dark-conter')
    }
      if (selectbutton2.classList.contains('text-flex-dark-conter')){
          selectbutton2.classList.toggle('text-flex-dark-conter')
          selectbutton2.classList.toggle('button-flex-dark-conter')
      }
      if (selectbutton1.classList.contains('text-flex-dark-conter')){
          selectbutton1.classList.toggle('text-flex-dark-conter')
          selectbutton1.classList.toggle('button-flex-dark-conter')
      }
  });




  var sizebutton1 = document.getElementById("size-button1")
  var sizebutton2 = document.getElementById("size-button2")
  var sizebutton3 = document.getElementById("size-button3")
  var sizebutton4 = document.getElementById("size-button4")

  var sizebutton5 = document.getElementById("size-button5")
  var sizebutton6 = document.getElementById("size-button6")
  var sizebutton7 = document.getElementById("size-button7")
  var sizebutton8 = document.getElementById("size-button8")
  var sizebutton9 = document.getElementById("size-button9")
  var sizebutton10 = document.getElementById("size-button10")

  var sizeinput = document.getElementById("input-size")
  var divmargin = document.getElementById("div-margin")
  var sizebutton = document.getElementById("button-size")

  sizebutton5.addEventListener("click", function() {
      sizebutton5.classList.toggle('button-flex-dark-conter')
      sizebutton5.classList.toggle('text-flex-dark-conter')
      if (sizebutton6.classList.contains('text-flex-dark-conter')){
          sizebutton6.classList.toggle('text-flex-dark-conter')
          sizebutton6.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton7.classList.contains('text-flex-dark-conter')){
          sizebutton7.classList.toggle('text-flex-dark-conter')
          sizebutton7.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton8.classList.contains('text-flex-dark-conter')){
          sizebutton8.classList.toggle('text-flex-dark-conter')
          sizebutton8.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton9.classList.contains('text-flex-dark-conter')){
          sizebutton9.classList.toggle('text-flex-dark-conter')
          sizebutton9.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton10.classList.contains('text-flex-dark-conter')){
          sizebutton10.classList.toggle('text-flex-dark-conter')
          sizebutton10.classList.toggle('button-flex-dark-conter')
      }
  });
  sizebutton6.addEventListener("click", function() {
      sizebutton6.classList.toggle('button-flex-dark-conter')
      sizebutton6.classList.toggle('text-flex-dark-conter')
      if (sizebutton5.classList.contains('text-flex-dark-conter')){
          sizebutton5.classList.toggle('text-flex-dark-conter')
          sizebutton5.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton7.classList.contains('text-flex-dark-conter')){
          sizebutton7.classList.toggle('text-flex-dark-conter')
          sizebutton7.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton8.classList.contains('text-flex-dark-conter')){
          sizebutton8.classList.toggle('text-flex-dark-conter')
          sizebutton8.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton9.classList.contains('text-flex-dark-conter')){
          sizebutton9.classList.toggle('text-flex-dark-conter')
          sizebutton9.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton10.classList.contains('text-flex-dark-conter')){
          sizebutton10.classList.toggle('text-flex-dark-conter')
          sizebutton10.classList.toggle('button-flex-dark-conter')
      }
  });
  sizebutton7.addEventListener("click", function() {
      sizebutton7.classList.toggle('button-flex-dark-conter')
      sizebutton7.classList.toggle('text-flex-dark-conter')
      if (sizebutton6.classList.contains('text-flex-dark-conter')){
          sizebutton6.classList.toggle('text-flex-dark-conter')
          sizebutton6.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton5.classList.contains('text-flex-dark-conter')){
          sizebutton5.classList.toggle('text-flex-dark-conter')
          sizebutton5.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton8.classList.contains('text-flex-dark-conter')){
          sizebutton8.classList.toggle('text-flex-dark-conter')
          sizebutton8.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton9.classList.contains('text-flex-dark-conter')){
          sizebutton9.classList.toggle('text-flex-dark-conter')
          sizebutton9.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton10.classList.contains('text-flex-dark-conter')){
          sizebutton10.classList.toggle('text-flex-dark-conter')
          sizebutton10.classList.toggle('button-flex-dark-conter')
      }
  });
  sizebutton8.addEventListener("click", function() {
      sizebutton8.classList.toggle('button-flex-dark-conter')
      sizebutton8.classList.toggle('text-flex-dark-conter')
      if (sizebutton6.classList.contains('text-flex-dark-conter')){
          sizebutton6.classList.toggle('text-flex-dark-conter')
          sizebutton6.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton7.classList.contains('text-flex-dark-conter')){
          sizebutton7.classList.toggle('text-flex-dark-conter')
          sizebutton7.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton5.classList.contains('text-flex-dark-conter')){
          sizebutton5.classList.toggle('text-flex-dark-conter')
          sizebutton5.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton9.classList.contains('text-flex-dark-conter')){
          sizebutton9.classList.toggle('text-flex-dark-conter')
          sizebutton9.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton10.classList.contains('text-flex-dark-conter')){
          sizebutton10.classList.toggle('text-flex-dark-conter')
          sizebutton10.classList.toggle('button-flex-dark-conter')
      }
  });
  sizebutton9.addEventListener("click", function() {
      sizebutton9.classList.toggle('button-flex-dark-conter')
      sizebutton9.classList.toggle('text-flex-dark-conter')
      if (sizebutton6.classList.contains('text-flex-dark-conter')){
          sizebutton6.classList.toggle('text-flex-dark-conter')
          sizebutton6.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton7.classList.contains('text-flex-dark-conter')){
          sizebutton7.classList.toggle('text-flex-dark-conter')
          sizebutton7.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton8.classList.contains('text-flex-dark-conter')){
          sizebutton8.classList.toggle('text-flex-dark-conter')
          sizebutton8.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton5.classList.contains('text-flex-dark-conter')){
          sizebutton5.classList.toggle('text-flex-dark-conter')
          sizebutton5.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton10.classList.contains('text-flex-dark-conter')){
          sizebutton10.classList.toggle('text-flex-dark-conter')
          sizebutton10.classList.toggle('button-flex-dark-conter')
      }
  });
  sizebutton10.addEventListener("click", function() {
      sizebutton10.classList.toggle('button-flex-dark-conter')
      sizebutton10.classList.toggle('text-flex-dark-conter')
      if (sizebutton6.classList.contains('text-flex-dark-conter')){
          sizebutton6.classList.toggle('text-flex-dark-conter')
          sizebutton6.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton7.classList.contains('text-flex-dark-conter')){
          sizebutton7.classList.toggle('text-flex-dark-conter')
          sizebutton7.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton8.classList.contains('text-flex-dark-conter')){
          sizebutton8.classList.toggle('text-flex-dark-conter')
          sizebutton8.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton9.classList.contains('text-flex-dark-conter')){
          sizebutton9.classList.toggle('text-flex-dark-conter')
          sizebutton9.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton5.classList.contains('text-flex-dark-conter')){
          sizebutton5.classList.toggle('text-flex-dark-conter')
          sizebutton5.classList.toggle('button-flex-dark-conter')
      }
  });
  sizebutton1.addEventListener("click", function() {
      sizebutton1.classList.toggle('button-flex-dark-conter')
      sizebutton1.classList.toggle('text-flex-dark-conter')
      if (sizebutton.value === 'DE'){
          sizebutton.value = 'RU'
          sizeinput.classList.remove('hidden')
          
      } else if (sizebutton.value === 'RU'){
          sizebutton.value = 'DE'
          sizeinput.classList.add('hidden')
          
      } else {
          sizebutton.value = 'RU'
      }
      if (sizebutton2.classList.contains('text-flex-dark-conter')){
          sizebutton2.classList.toggle('text-flex-dark-conter')
          sizebutton2.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton3.classList.contains('text-flex-dark-conter')){
          sizebutton3.classList.toggle('text-flex-dark-conter')
          sizebutton3.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton4.classList.contains('text-flex-dark-conter')){
          sizebutton4.classList.toggle('text-flex-dark-conter')
          sizebutton4.classList.toggle('button-flex-dark-conter')
      }
  });
  sizebutton2.addEventListener("click", function() {
      sizebutton2.classList.toggle('button-flex-dark-conter')
      sizebutton2.classList.toggle('text-flex-dark-conter')
      if (sizebutton.value === 'DE'){
          sizebutton.value = 'US'
          sizeinput.classList.remove('hidden')
          
      } else if (sizebutton.value === 'US'){
          sizebutton.value = 'DE'
          sizeinput.classList.add('hidden')
          
      } else {
          sizebutton.value = 'US'
      }
      if (sizebutton1.classList.contains('text-flex-dark-conter')){
          sizebutton1.classList.toggle('text-flex-dark-conter')
          sizebutton1.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton3.classList.contains('text-flex-dark-conter')){
          sizebutton3.classList.toggle('text-flex-dark-conter')
          sizebutton3.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton4.classList.contains('text-flex-dark-conter')){
          sizebutton4.classList.toggle('text-flex-dark-conter')
          sizebutton4.classList.toggle('button-flex-dark-conter')
      }
  });
  sizebutton3.addEventListener("click", function() {
      sizebutton3.classList.toggle('button-flex-dark-conter')
      sizebutton3.classList.toggle('text-flex-dark-conter')
      if (sizebutton.value === 'DE'){
          sizebutton.value = 'UK'
          sizeinput.classList.remove('hidden')
          
      } else if (sizebutton.value === 'UK'){
          sizebutton.value = 'DE'
          sizeinput.classList.add('hidden')
          
      } else {
          sizebutton.value = 'UK'
      }
      if (sizebutton2.classList.contains('text-flex-dark-conter')){
          sizebutton2.classList.toggle('text-flex-dark-conter')
          sizebutton2.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton1.classList.contains('text-flex-dark-conter')){
          sizebutton1.classList.toggle('text-flex-dark-conter')
          sizebutton1.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton4.classList.contains('text-flex-dark-conter')){
          sizebutton4.classList.toggle('text-flex-dark-conter')
          sizebutton4.classList.toggle('button-flex-dark-conter')
      }
  });

  sizebutton4.addEventListener("click", function() {
      sizebutton.value = 'DE'
      sizeinput.classList.add('hidden')
      sizebutton4.classList.toggle('button-flex-dark-conter')
      sizebutton4.classList.toggle('text-flex-dark-conter')
      if (sizebutton2.classList.contains('text-flex-dark-conter')){
          sizebutton2.classList.toggle('text-flex-dark-conter')
          sizebutton2.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton1.classList.contains('text-flex-dark-conter')){
          sizebutton1.classList.toggle('text-flex-dark-conter')
          sizebutton1.classList.toggle('button-flex-dark-conter')
      }
      if (sizebutton3.classList.contains('text-flex-dark-conter')){
          sizebutton3.classList.toggle('text-flex-dark-conter')
          sizebutton3.classList.toggle('button-flex-dark-conter')
      }
  });


  </script>
</div> 
<div id="bran" class="hidden">
  <div style="margin-bottom:3px;" class="d-flex">
    <button id="myAnchor2" style="margin-right: auto; padding-left: 7px!important; padding-right: 7px!important;" class="button">Сохранить</button>
    <div style="margin-left: auto; margin-right: auto;" class="text">Бренды</div>
    <button id="myAnchor3" style="margin-left: auto; padding-left: 18px!important; padding-right: 18px!important;" class="button">Отмена</button>
  </div>
  <div style="height: calc(100% + 30px);" class="white-block">
    <form name="myForm" id="input-brand" style="margin-bottom: 28px; top: -7;" class="search">
      <input name="fname" id="search-brands" placeholder="Введите бренд..." class="search-input" type="text" onkeyup="onTyping()">
      <img style="margin-top: 7px" width="20px" height="20px" class="imger" src="//s.svgbox.net/hero-outline.svg?fill=C940FC#search">
    </form>
    <div id="brand-list" class="brand-list">
      <div style="margin-left: 4px;" class="d-flex brand" id="ADIDASEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="ADIDAS">ADIDAS</label>
        <input type="checkbox" id="ADIDAS" name="ADIDAS">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="ARMANIEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="ARMANI">ARMANI</label>
        <input type="checkbox" id="ARMANI" name="ARMANI">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="BAPEEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="BAPE">BAPE</label>
        <input type="checkbox" id="BAPE" name="BAPE">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="CPEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="CP">CP COMPANY</label>
        <input type="checkbox" id="CP" name="CP">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="FENDIEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="FENDI">FENDI</label>
        <input type="checkbox" id="FENDI" name="FENDI">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="GUCCIEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="GUCCI">GUCCI</label>
        <input type="checkbox" id="GUCCI" name="GUCCI">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="LOUISEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="LOUIS VUITTON">LOUIS VUITTON</label>
        <input style="margin-left: 4px;" type="checkbox" id="LOUIS" name="LOUIS VUITTON">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="NIKEEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="NIKE">NIKE</label>
        <input style="margin-left: 4px;" type="checkbox" id="NIKE" name="NIKE">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="OFFEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="OFF">OFF WHITE</label>
        <input type="checkbox" id="OFF" name="OFF">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="PUMAEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="PUMA">PUMA</label>
        <input type="checkbox" id="PUMA" name="PUMA">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="STONEEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="STONE">STONE ISLAND</label>
        <input type="checkbox" id="STONE" name="STONE">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="TRAVISEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="TRAVIS">TRAVIS SCOTT</label>
        <input type="checkbox" id="TRAVIS" name="TRAVIS">
      </div>
      <div style="margin-left: 4px;" class="d-flex brand" id="VLONEEL">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="VLONE">VLONE</label>
        <input type="checkbox" id="VLONE" name="VLONE">
      </div>
      <div style="margin-bottom: 7px!important; margin-left: 4px;" class="d-flex brand">
        <label class="label" style="margin-top: 4px; margin-left: 2px;" for="adidas">ADIDAS</label>
        <input type="checkbox" id="adidas" name="adidas">
      </div>
    </div>
    <div id="brand-list2">
      
    </div>
  </div>
  <script>
  
  </script>
</div>

<script>

var adjDiv = document.getElementById("adjust")
var branDiv = document.getElementById("bran")
var brand_list = document.getElementById("brand-list")

function onTyping() {
  var search_brands = document.getElementById("search-brands")
  var filter = search_brands.value.toUpperCase();
  var divCount = brand_list.getElementsByTagName("div");
  
  var label, txtValue

  for (i = 0; i < divCount.length; i++) {
    label = divCount[i].getElementsByTagName("label")[0];
    txtValue = label.textContent || label.innerText 
    if (txtValue.toUpperCase().indexOf(filter) > -1) {
      divCount[i].classList.remove('hidden')
    } else {
      divCount[i].classList.add('hidden')
    }
  }

  // if(search_brands.value.length == 0){
  //   brand_list.classList.remove('hidden')
  // }
}

var myAnchor = document.getElementById("myAnchor")
var myAnchor2 = document.getElementById("myAnchor2")
var myAnchor3 = document.getElementById("myAnchor3")

myAnchor.addEventListener('click', function() {
  branDiv.classList.remove('hidden')
  adjDiv.classList.add('hidden')
})

myAnchor2.addEventListener('click', function() {
  branDiv.classList.add('hidden')
  adjDiv.classList.remove('hidden')
})

myAnchor3.addEventListener('click', function() {
  branDiv.classList.add('hidden')
  adjDiv.classList.remove('hidden')
})
</script>
{% endblock %}