{% load sass_tags %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link href="{% sass_src 'main/css/main.scss' %}" rel="stylesheet" type="text/css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapiscom/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="root">
        <main>
            {% block contentextends %}
            <header>
                <img class="activator imger2" id="activator" src="static/main/img/ava.jpeg" alt="">
                <div class="search s">
                    <input id="search-trade" class="search-input" placeholder="Поиск на сайте...">
                    <a href="{% url 'adjustments' %}" id="but" class="search-button"><img width="30px" height="30px" class="imger" src="//s.svgbox.net/hero-outline.svg?fill=C940FC#adjustments"></a>
                </div>
                <nav>
                    <ul>
                        <li><a href="#"><img class="imger" src="//s.svgbox.net/hero-outline.svg?fill=C940FC#newspaper"></a></li>
                        <li><a href="#"><img class="imger" src="//s.svgbox.net/hero-outline.svg?fill=C940FC#user"></a></li>
                        <li><a href="#"><img class="imger" src="//s.svgbox.net/hero-outline.svg?fill=C940FC#heart"></a></li>
                        <li><a href="#"><img class="imger"  src="//s.svgbox.net/hero-outline.svg?fill=C940FC#chat"></a></li>
                        <li><a href="#"><img class="imger" src="//s.svgbox.net/hero-outline.svg?fill=C940FC#plus-circle"></a></li>
                    </ul>
                </nav>
            </header><br>
            {% endblock %}
            <div class="container">
                {% block content %}{% endblock %}
            </div>
             <div class="container">
                {% block content2 %}{% endblock %}
            </div>
        </main>
    </div>
    <!-- <div id="root2">
        <footer>
            <div class="footer">
                Something about
            </div>
            <div style="height: 15px;"></div>
        </footer>
    </div> -->
    <script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/gsap@3.12/dist/gsap.min.js"></script>
    <script>
        
        var card = document.getElementById('activator');
        var tl = gsap.timeline({defaults: {ease: "power2.inOut"}})
        var button = document.getElementById('but')

        var toggle = false;
        
        tl.to('.adj', {

        });
        tl.to('.activator', {
            // background: '#C940FC',
            // 'borderRadius': '8px 0 0 8px',
            // 'box-shadow': '-4px 4px 0px 0px #fff',
            'border': '4px solid #fff'
        });
        tl.to('nav', {
            'clipPath': 'ellipse(100% 100% at 50% 50%)',
            'box-shadow': '-4px 4px #C940FC'
        }, "-=.5")
        tl.to('nav img', {
            opacity: 1,
            transform: 'translateX(0)',
            stagger: .05
        }, "-=.5")
        tl.pause();

        card.addEventListener('click', () => {
            toggle = !toggle;
            if (toggle ? tl.play() : tl.reverse());

        })

    </script>
</body>
</html>