{% extends 'main/main.html' %}

{% block title %}
заголовок
{% endblock %}

{% block content %}
<div class="d-flex">
    <div style="margin-top: 5px;" class="product d-block">
        <div class="d-flex images">
            <img class="photo1" src="static/main/img/sneaker_1.jpg" alt="">
            <div class="d-block">
                <img class="photo2" src="static/main/img/sneaker_2.jpg" alt=""><br>
                <img class="photo2" src="static/main/img/sneaker_3.jpg" alt="">
            </div>
        </div>
        <p style="color: #C940FC; margin-bottom: 0;">Name</p>
        <p style="color: #C940FC;">Price</p>
    </div>
    <div style="margin-top: 5px;" class="product r d-block">
        <div class="d-flex images">
            <img class="photo1" src="static/main/img/sneaker_1.jpg" alt="">
            <div class="d-block">
                <img class="photo2" src="static/main/img/sneaker_2.jpg" alt=""><br>
                <img class="photo2" src="static/main/img/sneaker_3.jpg" alt="">
            </div>
        </div>
        <p style="color: #C940FC; margin-bottom: 0;">Name</p>
        <p style="color: #C940FC;">Price</p>
    </div>
</div>
<div class="d-flex">
    <div class="product d-block">
        <div class="d-flex images">
            <img class="photo1" src="static/main/img/sneaker_1.jpg" alt="">
            <div class="d-block">
                <img class="photo2" src="static/main/img/sneaker_2.jpg" alt=""><br>
                <img class="photo2" src="static/main/img/sneaker_3.jpg" alt="">
            </div>
        </div>
        <p style="color: #C940FC; margin-bottom: 0;">Name</p>
        <p style="color: #C940FC;">Price</p>
    </div>
    <div class="product r d-block">
        <div class="d-flex images">
            <img class="photo1" src="static/main/img/sneaker_1.jpg" alt="">
            <div class="d-block">
                <img class="photo2" src="static/main/img/sneaker_2.jpg" alt=""><br>
                <img class="photo2" src="static/main/img/sneaker_3.jpg" alt="">
            </div>
        </div>
        <p style="color: #C940FC; margin-bottom: 0;">Name</p>
        <p style="color: #C940FC;">Price</p>
    </div>
</div>
<div class="d-flex">
    <div class="product d-block">
        <div class="d-flex images">
            <img class="photo1" src="static/main/img/sneaker_1.jpg" alt="">
            <div class="d-block">
                <img class="photo2" src="static/main/img/sneaker_2.jpg" alt=""><br>
                <img class="photo2" src="static/main/img/sneaker_3.jpg" alt="">
            </div>
        </div>
        <p style="color: #C940FC; margin-bottom: 0;">Name</p>
        <p style="color: #C940FC;">Price</p>
    </div>
    <div class="product r d-block">
        <div class="d-flex images">
            <img class="photo1" src="static/main/img/sneaker_1.jpg" alt="">
            <div class="d-block">
                <img class="photo2" src="static/main/img/sneaker_2.jpg" alt=""><br>
                <img class="photo2" src="static/main/img/sneaker_3.jpg" alt="">
            </div>
        </div>
        <p style="color: #C940FC; margin-bottom: 0;">Name</p>
        <p style="color: #C940FC;">Price</p>
    </div>
</div>
<div style="margin-top: 25px;" class="d-flex">
    <button class="count_page">Страница 2 из 7</button>
    <button class="next_page">След.</button>
    <button class="previous_page">Пред.</button>
</div>
{% endblock %}
{% block content2 %}

{% endblock %}